<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keys" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/asserts/login_resource/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/asserts/login_resource/css/font-awesome.min.css}">
	<link rel="stylesheet" href="css/login.css" th:href="@{/asserts/login_resource/css/login.css}">
	<style type="text/css">
		#div_back
		{
			width:1280px;
			height:720px;
			border:1px solid gray;
			background-image:url("/images/big/pika.jpg");
			background-repeat:no-repeat;
			position: absolute;
			left:20%;
			top:20%;
			margin-left:-100px;
			margin-top:-100px;
		}
	</style>
</head>
<body>
<nav class="navbar navbar-inner navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<div><a class="navbar-brand" style="font-size:32px;">JXAU旅游网</a></div>
		</div>
	</div>
</nav>
<div id="div_back">
<div class="container">
	<form class="form-signin" role="form">
		<div style="width: 500px;height: 200px;margin: auto;position: relative;">
			<h1 class="navbar-brand" style="font-size:32px;text-align: center;color:#fffefa"></h1>
		</div>
		<h2 class="form-signin-heading" ><i class="glyphicon glyphicon-log-in"></i> 管理员登录</h2>
		<div class="form-group has-success has-feedback">
			<input type="text" class="form-control" id="loginacct" placeholder="请输入登录账号" autofocus>
			<span style="font-size:22px" class="glyphicon glyphicon-user form-control-feedback"></span>
		</div>
		<div class="form-group has-success has-feedback">
			<input type="password" class="form-control" id="userpswd" placeholder="请输入登录密码" style="margin-top:10px;">
			<span style="font-size:22px" class="glyphicon glyphicon-lock form-control-feedback"></span>
		</div>
		<a class="btn btn-lg btn-success btn-block" onclick="dologin()"> 登录</a>
		<a class="btn btn-lg btn-danger btn-block"  href="/admin/reg">我要注册</a>
	</form>
	<footer class="footer text-center"   >
		<h1 style="font-size:32px;">2020 © zhiming.travel</h1>
		<h2 style="font-size: 16px">版权所属 © zhiming</h2>
	</footer>
</div>
</div>
<script src="jquery/jquery-2.1.1.min.js" th:src="@{/asserts/login_resource/jquery/jquery-2.1.1.min.js}"></script>
<script src="bootstrap/js/bootstrap.min.js" th:src="@{/asserts/login_resource/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="jquery/layer/layer.js" th:src="@{/asserts/login_resource/jquery/layer/layer.js}"></script>
<script>
	function dologin() {
		var loginacct = $("#loginacct");
		var userpswd = $("#userpswd");

		//对于表单数据而言不能使用null 而应该使用""

		if ($.trim(loginacct.val()) == "") {
			layer.msg("用户账号不能为空，请重新输入！！", {time : 1000,icon : 5,shift : 6}, function() {
				//将数据清空
				loginacct.val("");
				//获取焦点
				loginacct.focus();
			});
			return false;
		}

		if ($.trim(userpswd.val()) == "") {
			layer.msg("用户密码不能为空，请重新输入！！", {time : 1000,icon : 5,shift : 6}, function() {
				//将数据清空
				userpswd.val("");
				//获取焦点
				userpswd.focus();
			});
			return false;
		}

		var loadingIndex = -1;
		$.ajax({
			url : "/admin/login",
			type : "POST",
			data : {
				"loginacct" : loginacct.val(),
				"userpswd" : userpswd.val()
			},
			beforeSend : function() {
				loadingIndex =  layer.msg('正在登录',{icon : 16});
				return true;
			},
			// 200
			// 从后台获取返回的结果
			success : function(result) {
				layer.close(loadingIndex);
				//{"success":true} 或{"success" : false,"message":登录失败}
				if (result.success){
					layer.msg("登录成功",{time : 1000,icon : 6,shift : 6});
						window.location.href = "/admin/main.html";
				} else {
					layer.msg(result.message,{time : 1000,icon : 5,shift : 6});
					//将数据清空
					userpswd.val("");
					//获取焦点
					userpswd.focus();
				}
			},
			error : function(e) {
				// 404， 500
				layer.msg("登录失败！！",{time : 1000,icon : 5,shift : 6});
			}
		});
	}
</script>
</body>
</html>